# ======================
# PlatformIO
# ======================
.pio/
.vscode/
*.elf
*.bin

# ======================
# ROS 2 (colcon)
# ======================
build/
install/
log/

# ======================
# Python
# ======================
__pycache__/
*.pyc
*.pyo

# ======================
# Linux
# ======================
*~
.DS_Store

# ======================
# Serial devices (optional)
# ======================
*.log
